<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Lista de Tareas</title>
  <link rel="stylesheet" href="../Statics/styles/listaDeTareas.css">
</head>
<body>

  <h1>Lista de Tareas</h1>

  <div class="botones">
    <button id="agregarTarea">Agregar tarea</button>
    <button id="eliminarUltima">Eliminar última tarea</button>
    <button id="eliminarTodas">Eliminar todas</button>
  </div>

  <div id="contenedor"></div>

  <script src="../Dynamics/JS/listaDeTareas.js"></script>
</body>
</html>
